<h1>Places you've been!</h1>
<p>Type in all the places you've been to.</p>

<ul>

</ul>

<p>Type here</p>

<form action="form_places">
  <label for="input_places">Place</label>
  <input id="input_places"type="text" name="input_places">
  <button type="submit">Enter</button>
</form>
